body {
    box-sizing:border-box;
    width: 50%;
    height: 100%;
    padding: 20px;
    border: 1px solid black;
    margin-left: 25%;
    font-family: 'Courier New', Courier, monospace;
    background-color: khaki;
    text-align: center;
    position:relative;
}
.list {
    display: grid;
    grid-template-rows: 70px auto 30px;
    grid-template-columns: auto;
    grid-template-areas: "nav" 
                        "section"
                        "footer";
}
.header {
    width: 100%;
    height: 200px;
    /* background-color: khaki; */
    /* background-image: url("https://www.crushpixel.com/big-static14/preview4/background-from-set-colour-pencils-1620157.jpg"); */
    /* background-image: url("./imgs/pencils.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-size: 5em;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid black;
    font-weight: bold;
    color: white;
    

}
.header div {
    padding-left: 10%;
    text-shadow: black 5px 5px;
}

main {
    display: grid;
    grid-template-rows: 70px 400px 30px;
    grid-template-columns: auto;
    grid-template-areas: "nav" 
                        "section"
                        "footer";
}

nav {
    grid-area: nav;
    border-bottom: solid black;
    background-color: khaki;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

/* nav div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: black solid;
} */
a:visited{
    color: blue;
}
a:active {
    color: rebeccapurple;
}

a:hover {
    color: rgb(5, 246, 246);
    background-color: #948a70;
    cursor: pointer;
}

nav a {
    background-color: #c7e3ec;
    /* padding: 2% 4%; */
    text-decoration: none;
    border-radius: 10px;
}

/* nav span:hover{
    background-color: #948a70;
    cursor: pointer;
} */
section{
    margin-top:20px;
    margin-bottom:10px;
}


.formCont {
    grid-area: section;
    height: 100%;
    border-bottom: solid black;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    grid-template-areas: "login intro";

}

.createTask {
    grid-area: section;
    height: 100%;
    /* border-bottom: solid black; */
}

.taskForm {
    padding-left: 10px;
    font-size: larger;
    /* display: flex; */
    /* flex-wrap: wrap; */
    
}

.form {
    grid-area: login;
    border-right: solid black;
    /* font-size: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: khaki;
}

.login[type="text"] {
    width: 50%;
    height: 10%;
    /* width: 300px;
    height: 50px; */
    font-size: 1.75em;
}

.login[type="submit"] {
    height: 70px;
    width: 200px;
    font-size: 3em;
    cursor: pointer;
    border: 0;
    background-color: orangered;
    border-radius: 30px;
}


footer{
    grid-area: footer;
    display: fixed;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    border-top: black solid;

}
#signUp {
    color: orange;
}

.intro {
    grid-area: intro;
    font-size: 2em;
    padding-left: 10px;

}

#introHead {
    font-weight: bold;
    text-decoration: underline;
}

.listForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}


/* task card */
.task-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.task-card {
    width: 100%;
    max-width: 400px;
    background-color: #f2f2f2;
    padding: 5%;
    margin-bottom: 1em;
    margin-left: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.task-cards-container > div:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .task-card {
        width: 30%;
    }
    nav a {
        padding: 14px 16px;
    }
}
  
h3 {
    margin-top: 0;
}

/* Nav button */

.center-btn {
	display: table; 
	margin-top:15px;
    margin-left:auto;
}
/* center text*/
.center-text{
    text-align: center;
}
h2::first-letter {
    color: #885980;
    font-size: xx-large;
}
.p-todolist{
    margin-left:10px;
}
h1{
    text-align:center;
}